<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <script src="../Scripts/bubbles.js"></script>
    <script src="../Scripts/nettest.js"></script>
    <title>Template</title>
</head>
<body>
    <div class="desktopdiv">
        <div class="netstat" id="192.168.115.66"></div>
        <h1 class="indivheader">Desktop</h1>
        <p class="indivbottom">Hier habe ich Funktionen für meinen PC</p>
        <div class="outerbuttons">
            <button type="button" class="buttonscollapse" id="desktopbuttonscollapse">+</button>
            <button type="button" class="b1" id="desktopwakeup">Wakeup</button>
        </div>
        <div class="buttons" id="desktopbuttons">
            <button type="button" class="b3" id="desktopshutdown">Shutdown</button>
            <button type="button" class="b4" id="desktopreboot">Reboot</button>
        </div>
    </div>
    <div class="raspydiv">
        <div class="netstat" id="self"></div>
        <h1 class="indivheader">Raspberry</h1>
        <p class="indivbottom" id="raspy-temp">Raspberry-temp</p>
        <div class="outerbuttons">
            <button type="button" class="buttonscollapse" id="raspybuttonscollapse">+</button>
            <button type="button" class="b1" id="raspywakeup">Wakeup</button>
        </div>
        <div class="buttons" id="raspybuttons">
            <button type="button" class="b2r" id="raspygitpush">Git-Push</button>
            <button type="button" class="b3r" id="raspyshutdown">Shutdown</button>
            <button type="button" class="b4r" id="raspyreboot">Reboot</button>
        </div>
    </div>
    <div class="nasdiv">
        <div class="netstat" id="192.168.115.86"></div>
        <h1 class="indivheader">NAS</h1>
        <p class="indivbottom">Hier habe ich Funktionen für meine NAS</p>
        <div class="outerbuttons">
            <button type="button" class="buttonscollapse" id="nasbuttonscollapse">+</button>
            <button type="button" class="b1" id="naswakeup">Wakeup</button>
        </div>
        <div class="buttons" id="nasbuttons">
            <button type="button" class="b3" id="nasshutdown">Shutdown</button>
            <button type="button" class="b4" id="nasreboot">Reboot</button>
        </div>
    </div>
    <script src="./index.js"></script>
</body>
</html>