*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopdiv, .raspydiv, .nasdiv{
    position: absolute;
    background-color: white;
    width: 60%;
    height: 15%;
}

.desktopdiv{
    margin-bottom: 400px;
}

.nasdiv{
    margin-top: 400px;
}

@media screen and (max-width: 600px) {
    body{
        height: 150vh;
    }

    .desktopdiv, .raspydiv, .nasdiv{
        position: absolute;
        background-color: white;
        width: 60%;
        height: 40%;
    }
    
    .desktopdiv{
        margin-bottom: 800px;
    }
    
    .nasdiv{
        margin-top: 800px;
    }
}