*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (pointer: fine), (pointer: none) or (pointer: fine) and (any-pointer: coarse) {

    .container{
        height: 550px;
        width: 720px;
        background-color: #232931;
        color: #fff;
        border-radius: 25px;
        box-shadow: 0 5px 15px rgba(0, 0, 0.35);
        align-items: center;
        justify-content: center;
    }

    .Type-header{
        display: flex;
        justify-content: center;
    }

    .Type{
        position: absolute;
        margin-top: 25px;
    }

    .buttons1, .buttons2{
        display: flex;
        justify-content: center;
    }

    .buttons1{
        margin-top: 100px;
    }

    .buttons2{
        margin-top: 210px;
    }

    .button1, .button2, .button3, .button4{
        position: absolute;
        box-shadow: 0 5px 15px rgba(0, 0, 0.35);
        height: 200px;
        width: 330px;
        background-color: #b41f1f;
        border-radius: 25px;
        display: flex;
        text-decoration:none;
        color: #fff;
        align-items: center;
        justify-content: center;
    }

    .button1:hover, .button2:hover, .button3:hover, .button4:hover{
        transform: scale(1.05);
    }

    .button1, .button3{
        margin-right: 350px;
    }

    .button2, .button4{
        margin-left: 350px;
    }
}

@media (pointer: coarse) {
    .container{
        height: 425px;
        width: 350px;
        background-color: #232931;
        color: #fff;
        border-radius: 25px;
        box-shadow: 0 5px 15px rgba(0, 0, 0.35);
        align-items: center;
        justify-content: center;
    }
}