*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    height: 90%;
    background-color: #232931;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0.35);
    align-items: center;
    justify-content: center;
    color: #fff;
}

.heading{
    margin-bottom: 47.5%;
    justify-self: center;
    width: fit-content;
    grid-row: 1;
    grid-column: 1;
}