*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    height: 90%;
    background-color: #232931;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0.35);
}

.headerdiv{
    display: flex;
    position: relative;
    width: 80%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.headertext{
    color: aliceblue;
    position: absolute;
    align-self: center;
    font-size: 40px;
}

.textinputdiv{
    display: flex;
    position: relative;
    width: 80%;
    height: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.textinput{
    background-color: #37474f;
    width: 60%;
    height: 50%;
    position: absolute;
    align-self: center;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0.35);
}

.menudropdowndiv{
    display: flex;
    position: relative;
    width: 80%;
    height: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.File{
    position: absolute;
    height: 50%;
    width: 50%;
    align-self: center;
}

.submitbuttondiv{
    display: flex;
    position: relative;
    width: 80%;
    height: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.submitbutton{
    background-color: #37474f;
    width: 30%;
    height: 50%;
    position: absolute;
    align-self: center;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0.35);
}

@media (pointer:none), (pointer:coarse){
    .headertext{
        font-size: 26px;
    }
}